<h1>Listing messages</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Texte</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.item_id %></td>
    <td><%=h message.nom %></td>
    <td><%=h message.email %></td>
    <td><%=h message.phone %></td>
    <td><%=h message.texte %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>