<h1>New item</h1>
<% form_for(@item,:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :prix %><br />
    <%= f.text_field :prix %>
  </p>
  <p>
    <%= f.label :vendu %><br />
    <%= f.check_box :vendu %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', items_path %>
