<%= image_tag @item.photo.url(:medium) %>
<p>
  <b>Nom:</b>
  <%=h @item.nom %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<p>
  <b>Prix:</b>
  <%=h @item.prix %>
</p>

<p>
  <b>Vendu:</b>
  <%=h @item.vendu %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
